@model AspCore_Roles.Models.Lance

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leilao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leilao.LeilaoID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LanceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
